.app-wrapper {
  min-height: 100%;
  display: grid;
  grid-template-areas: "h h" "n c" "f f";
  grid-template-rows: 30px 20fr 20px;
  grid-template-columns: 2fr 10fr;

}

Header {
  grid-area: h;
}

Content {
  grid-area: c;
}

Navitagion {
  grid-area: n;
}

Footer {
  grid-area: f;
}
